appnope
boto
click
decorator
-e git+https://github.com/kpachnis/python-dotenv.git@70147dc21f05abc180fc7861fb83b8dda0b2b130#egg=dotenv
Flask
Flask-Cors
Flask-Script
greenlet
gunicorn
ipython-genutils
itsdangerous
Jinja2
MarkupSafe
pexpect
pickleshare
prompt-toolkit
ptyprocess
py
pycodestyle
Pygments
pytest
python-dotenv
python-firebase
requests
simplegeneric
six
traitlets
wcwidth
Werkzeug
fake-factory
Faker
